<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Меню</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-button [routerLink]="['']"> Лабораторна робота №1</ion-button>
        <ion-button [routerLink]="['graph']">Лабораторна робота №2</ion-button>
        <ion-button [routerLink]="['file']"> Лабораторна робота №3</ion-button>
        <ion-button [routerLink]="['abstract-class']">
          Лабораторна робота №4</ion-button
        >
        <ion-button [routerLink]="['interfacepage']">
          Лабораторна робота №6</ion-button
        >
        <ion-button [routerLink]="['servicepage']">
          Лабораторна робота №7</ion-button
        >
        <ion-button [routerLink]="['lab8-blank']">
          Лабораторна робота №8-9</ion-button
        >
        <ion-button [routerLink]="['observablepage']">
          Лабораторна робота №10</ion-button
        >
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
