<ion-header>
  <ion-toolbar>
    <ion-title>Лабораторна робота №2</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконала студентка групи КН-32 Попова Юлія</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Лабораторна робота №2</ion-card-header>
    <ion-card-content>
      <ion-text>Завдання: Створити додаток для табулювання і виведення на екран значення функції, побудувати графік функції.</ion-text>
      <ion-item>
        <ion-label position="floating">xn</ion-label>
        <ion-input type="number" id="xn" value="-4.41" #Inputxn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">xk</ion-label>
        <ion-input type="number" id="xk" value="11.25" #Inputxk></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">a</ion-label>
        <ion-input type="number" id="a" value="0.6" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">h</ion-label>
        <ion-input type="number" id="h" value="0.6" #Inputh></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="graph_result(Inputxn.value, Inputxk.value, Inputa.value, Inputh.value)">
        Розрахунок
      </ion-button>
      <ion-item>
        <canvas #lineCanvas></canvas>
      </ion-item>
      <ion-item *ngFor="let item of data1">{{item}}</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
